In [132]:
import pandas
import json
file = open("data2.json")
data = json.load(file)
df = pandas.DataFrame(data)
df

,name,year,rate,director
0,Short Term 12,2013,7.9,Destin Daniel Cretton
1,"Three Billboards Outside Ebbing, Missouri",2017,8.1,Martin McDonagh
2,Her,2013,8.0,Spike Jonze
3,Whiplash,2014,8.5,Damien Chazelle

sort df

In [97]:
df.sort_values('year',ascending=False)

,name,year,rate,director
1,"Three Billboards Outside Ebbing, Missouri",2017,8.1,Martin McDonagh
3,Whiplash,2014,8.5,Damien Chazelle
0,Short Term 12,2013,7.9,Destin Daniel Cretton
2,Her,2013,8.0,Spike Jonze

Create DataFrame With Inside Dic with List

In [121]:
new_data = {'name':['Road House','The Shawshank Redemption'] ,
            'year':[2024,1994],
            'rate':[6.2,9.3],
            'director':['Doug Liman','Frank Darabont'],
            'actor':['Jake Gyllenhaal','Morgan Freeman']}

In [140]:
df2 = pandas.DataFrame.from_dict(new_data,orient='columns')

merage Two DataFrame

In [152]:
result = pandas.concat([df,df2],ignore_index=True)

check NaN

In [168]:
name_list = result.loc[result['actor'].isnull()]['name']

Update Data

In [185]:
d = result.to_json(orient='records')
d = json.loads(d)
file = json.dumps(d,indent=4)
with open('data2.json',"w") as f:
    f.write(file)

In [186]:
result

,name,year,rate,director,actor
0,Short Term 12,2013,7.9,Destin Daniel Cretton,Brie Larson
1,"Three Billboards Outside Ebbing, Missouri",2017,8.1,Martin McDonagh,Frances McDormand
2,Her,2013,8.0,Spike Jonze,Joaquin Phoenix
3,Whiplash,2014,8.5,Damien Chazelle,Miles Teller
5,Road House,2024,6.2,Doug Liman,Jake Gyllenhaal
6,The Shawshank Redemption,1994,9.3,Frank Darabont,Morgan Freeman